.row-item {
    border-radius: 2rem;
    outline: 2px solid rgba(0, 0, 0, .205);
    cursor: pointer;
    transition: all 0.15s ease-in;
    
}

.row-item:hover {
    outline: 2px solid rgba(0, 0, 0, .6);
}

.trending {
    padding-bottom: 10rem;
}

.item-header img {
    width: 21rem;
}

.item-description {
    font-size: 1.7rem;
    padding: 1rem;
}

.trending h3 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}

.grid-container {
    display: grid;
    gap: 2.2rem;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem .6rem;
}

.product-name{
    list-style: none;
}